[submodule "ps-eks-accelerator/themes/hugo-theme-learn"]
	path = ps-eks-accelerator/themes/hugo-theme-learn
	url = https://github.com/matcornic/hugo-theme-learn
[submodule "ps-eks-accelerator/themes/learn"]
	path = ps-eks-accelerator/themes/learn
	url = https://github.com/jonahjon/hugo-theme-learn
